h1{
    font-size: 48px;
    margin-bottom: 40px;
}
main{
    display: flex;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin-top: 150px;
}
.google-img{
    width: 50px;
}

.icon{
    color: aqua;
    position: relative;
    left: -10px;
    top: 5px;

}